go 1.25.0

use (
	.
	/usr/share/gocode/src/github.com/gorilla/websocket
	/usr/share/gocode/src/github.com/joho/godotenv
	/usr/share/gocode/src/golang.org/x/crypto
	/usr/share/gocode/src/golang.org/x/net
	/usr/share/gocode/src/golang.org/x/sys
	/usr/share/gocode/src/golang.org/x/term
	/usr/share/gocode/src/golang.org/x/text
)
